[versions]
paperweight = "2.0.0-beta.19" # https://github.com/PaperMC/paperweight
configurate = "4.2.0" # https://github.com/SpongePowered/Configurate
adventure = "4.26.1" # https://github.com/KyoriPowered/adventure
jalu = "1.4.3" # https://github.com/AuthMe/ConfigMe

fix-javadoc = "1.19" # https://github.com/mfnalex/gradle-fix-javadoc-plugin
run-paper = "3.0.2" # https://github.com/jpenilla/run-task
shadow = "9.3.1" # https://github.com/GradleUp/shadow

[plugins]
[libraries]
# https://github.com/mfnalex/gradle-fix-javadoc-plugin
fix-javadoc = { module = "com.jeff-media.fix-javadoc-plugin:com.jeff-media.fix-javadoc-plugin.gradle.plugin", version.ref = "fix-javadoc" }

# https://github.com/PaperMC/paperweight
paperweight = { module = "io.papermc.paperweight.userdev:io.papermc.paperweight.userdev.gradle.plugin", version.ref = "paperweight" }

# https://github.com/SpongePowered/Configurate
configurate-yaml = { group = "org.spongepowered", name = "configurate-yaml", version.ref = "configurate" }
configurate-gson = { group = "org.spongepowered", name = "configurate-gson", version.ref = "configurate" }

# https://github.com/GradleUp/shadow
shadow = { module = "com.gradleup.shadow:shadow-gradle-plugin", version.ref = "shadow" }
# https://github.com/jpenilla/run-task
run-paper = { module = "xyz.jpenilla:run-task", version.ref = "run-paper" }

# https://github.com/KyoriPowered/adventure
kyori-logger = { module = "net.kyori:adventure-text-logger-slf4j", version.ref = "adventure" }
kyori-text = { module = "net.kyori:adventure-text-minimessage", version.ref = "adventure" }
kyori-api = { module = "net.kyori:adventure-api", version.ref = "adventure" }

# https://github.com/AuthMe/ConfigMe
jalu = { module = "ch.jalu:configme", version.ref = "jalu" }
[bundles]
adventure = [
    "kyori-logger",
    "kyori-text",
    "kyori-api"
]

build = [
    "fix-javadoc",
    "shadow"
]

paper = [
    "paperweight",
    "run-paper"
]