[versions]
paperweight = "2.0.0-beta.19" # https://github.com/PaperMC/paperweight
configurate = "4.2.0" # https://github.com/SpongePowered/Configurate
annotations = "24.1.0" # https://github.com/JetBrains/java-annotations
adventure = "4.23.0" # https://github.com/KyoriPowered/adventure
brigadier = "1.3.10" # https://github.com/mojang/brigadier
velocity = "3.4.0-SNAPSHOT" # https://docs.papermc.io/velocity/dev/creating-your-first-plugin
paper = "1.21.10-R0.1-SNAPSHOT" # https://github.com/PaperMC/Paper
jalu = "1.4.3" # https://github.com/AuthMe/ConfigMe

headdatabaseapi = "1.3.1" # https://github.com/Arcaniax-Development/HeadDatabase-API
placeholderapi = "2.11.6" # https://github.com/placeholderapi
itemsadder = "4.0.10" # https://github.com/ItemsAdder
triumph = "4.0.0-SNAPSHOT" # https://github.com/TriumphTeam/triumph-gui
oraxen = "1.190.0" # https://github.com/oraxen
nexo = "1.6.0" # https://github.com/Nexo-MC

fix-javadoc = "1.19" # https://github.com/mfnalex/gradle-fix-javadoc-plugin
run-paper = "3.0.2" # https://github.com/jpenilla/run-task
shadow = "9.2.2" # https://github.com/GradleUp/shadow

[plugins]
# https://github.com/mfnalex/gradle-fix-javadoc-plugin
fix-javadoc = { id = "com.jeff-media.fix-javadoc-plugin", version.ref = "fix-javadoc" }

[libraries]
# https://github.com/mfnalex/gradle-fix-javadoc-plugin
fix-javadoc = { module = "com.jeff-media.fix-javadoc-plugin:com.jeff-media.fix-javadoc-plugin.gradle.plugin", version.ref = "fix-javadoc" }
# https://github.com/PaperMC/paperweight
paperweight = { module = "io.papermc.paperweight.userdev:io.papermc.paperweight.userdev.gradle.plugin", version.ref = "paperweight" }
# https://github.com/SpongePowered/Configurate
configurate-yaml = { group = "org.spongepowered", name = "configurate-yaml", version.ref = "configurate" }
configurate-gson = { group = "org.spongepowered", name = "configurate-gson", version.ref = "configurate" }
# https://docs.papermc.io/velocity/dev/creating-your-first-plugin/
velocity = { group = "com.velocitypowered", name = "velocity-api", version.ref = "velocity" }
# https://github.com/GradleUp/shadow
shadow = { module = "com.gradleup.shadow:shadow-gradle-plugin", version.ref = "shadow" }
# https://github.com/JetBrains/java-annotations
annotations = { module = "org.jetbrains:annotations", version.ref = "annotations" }
# https://github.com/mojang/brigadier
brigadier = { group = "com.mojang", name = "brigadier", version.ref = "brigadier" }
# https://github.com/jpenilla/run-task
run-paper = { module = "xyz.jpenilla:run-task", version.ref = "run-paper" }
# https://github.com/TriumphTeam/triumph-gui
triumph-core = { group = "dev.triumphteam", name = "triumph-gui-core", version.ref = "triumph" }
# https://github.com/Arcaniax-Development/HeadDatabase-API
headdatabaseapi = { module = "com.arcaniax:HeadDatabase-API", version.ref = "headdatabaseapi" }
# https://github.com/placeholderapi
placeholderapi = { module = "me.clip:placeholderapi", version.ref = "placeholderapi" }
# https://github.com/ItemsAdder
itemsadder = { module = "dev.lone:api-itemsadder", version.ref = "itemsadder" }
# https://github.com/oraxen
oraxen = { module = "io.th0rgal:oraxen", version.ref = "oraxen" }
# https://github.com/Nexo-MC
nexo = { module = "com.nexomc:nexo", version.ref = "nexo" }

# https://github.com/KyoriPowered/adventure
kyori-legacy = { module = "net.kyori:adventure-text-serializer-legacy", version.ref = "adventure" }
kyori-logger = { module = "net.kyori:adventure-text-logger-slf4j", version.ref = "adventure" }
kyori-text = { module = "net.kyori:adventure-text-minimessage", version.ref = "adventure" }
kyori-api = { module = "net.kyori:adventure-api", version.ref = "adventure" }

# https://github.com/AuthMe/ConfigMe
jalu = { module = "ch.jalu:configme", version.ref = "jalu" }
[bundles]
adventure = [
    "kyori-legacy",
    "kyori-logger",
    "kyori-text",
    "kyori-api"
]

shared = [
    "headdatabaseapi",
    "placeholderapi",
    "itemsadder",
    "oraxen",
    "nexo"
]

build = [
    "fix-javadoc",
    "shadow"
]

paper = [
    "paperweight",
    "run-paper"
]